VC++/Normality Recognition Analyzer/Debug/*
VC++/Normality Recognition Analyzer/x64/*
VC++/File Merger/x64/*
VC++/File Display/x64/*
VC++/Debug/*
VC++/.vs/*
VC++/x64/*
Debug/*
.vs/*
x64/*
docs/html
docs/latex
data/pi1billion.txt
logs/*
bin/testingbranch/*.exe







